*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(bg3.png) no-repeat center center/cover;
}

h1{
    text-align: center;
    margin-top: 60px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 60px;

}
input{
    width: 100%;
    padding: 6px 0;
    border-radius: 8px;
}

/* ----------- */

.form_error{
    color: red;
}
.formdesign{
    margin-bottom: 18px;
    width: 100%;
    font-weight: bold;
}
.but{
    width: 120px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}